<!-- <div id="messages"></div> -->
<div class="telo">
    <button (click)="rasp()">Click</button>
    <div>
    	<table>
    	  <tbody>
    		<tr>
    			<td class="week" rowspan="2">Нед</td>
    			<td class="time" rowspan="2">Время</td>
    			<td class="zan" colspan="7">Занятия</td>
    		</tr>
    		<tr>
    			<td class="day">Понедельник</td>
    			<td class="day">Вторник</td>
    			<td class="day">Среда</td>
    			<td class="day">Четверг</td>
    			<td class="day">Пятница</td>
    			<td class="day">Суббота</td>
    			<td class="day">Воскресенье</td>
    		</tr>
    		<tr>
    		<!--Первая неделя -->
    			<td class="week" rowspan="6">1</td>
    			<td class="time">08:00-17:25</td>
    			<td class="lk">
    		</tr>
    		<tr>
    			<td class="time">09:50-11:25</td>
    		</tr>
    		<tr>
    			<td class="time">12:10-13:45</td>
    		</tr>
    		<tr>
    			<td class="time">14:00-15:35</td>
    		</tr>
    		<tr>
    			<td class="time">14:00-17:25</td>
    		</tr>
    		<tr>
    			<td class="time">15:50-17:25</td>
    		</tr>

    		<!--Вторая неделя -->
    		<tr>
    			<td class="week" rowspan="6">2</td>
    			<td class="time">08:00-17:25</td>
    		</tr>
    		<tr>
    			<td class="time">09:50-11:25</td>
    		</tr>
    		<tr>
    			<td class="time">12:10-13:45</td>
    		</tr>
    		<tr>
    			<td class="time">14:00-15:35</td>
    		</tr>
    		<tr>
    			<td class="time">14:00-17:25</td>
    		</tr>
    		<tr>
    			<td class="time">15:50-17:25</td>
    		</tr>
    	  </tbody>
    	</table>
    </div>
</div>