
nrasp{
  position: absolute;
  height: 35px;
  left: 24.38%;
  right: 67.88%;
  top: calc(50% - 35px/2 - 192.5px);

  font-family: Oxygen;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;

  color: #000A12;
}

td{
  font-size: 10px;
  line-height: 1.3em;
  background: #FFF;
  color: #747474;
  text-align: left;
  padding: 5px;
  border: 1px solid #DBDBDB;
  vertical-align: top;
}

td.week, td.time, td.zan, td.day{ 
  text-align: center;
}

td.day{
  width: 12em;
}


/*td, tr, tbody, table{
  border: 1px solid black;
}*/